body {
  padding-top: 50px;
}

h1, h3 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
}

hr {
  width: 85%;
}


/* TOP NAVIGATION */

.navbar {
  width: 100%;
  margin-bottom: 0;
  border-radius: 0;
  z-index: 999;
   
}

/* HEADER */

.jumbotron-header {
  padding: 100px 0 120px;
  background: url(../img/bg.jpg) fixed;
  background-size: cover;

}

.page-header {
  color: #fff;
}



/* ABOUT SECTION */
/* Skills Graph Progress Bars */

.progress {
  margin-bottom: 10px;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.progress-bar {
  padding-left: 10px;
  text-align: left;
}



/* PORTFOLIO SECTION */

.jumbotron-portfolio {
  margin: 50px 0;
  padding-top: 30px;
  background-color: #999;
  background-image: linear-gradient(
    to bottom right,
    #005f9d 33%,
    #f26522
  );
}

.jumbotron-portfolio h3 {
  margin-bottom: 30px;
  color: #fff;
}

.img-portfolio {
  border: 5px #fff solid;
  max-width: 200px;
}

p.caption-portfolio {
  margin-top: 10px;
  font-family: fira-sans, sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: #fff;
}

/* CONTACT SECTION */

.contact-section {
  padding: 30px;
  color: #fff;
}

.contact-facebook { background-color: #3b5998; }
.contact-twitter { background-color: #55acee; }
.contact-linkedin { background-color: #007bb5; }
.contact-github { background-color: #000; }
.contact-freecodecamp { background-color: #006B05; }
.contact-email { background-color: #666; }

.contact-facebook:hover { background-color: #5A71A3; }
.contact-twitter:hover { background-color: #7FBCEB; }
.contact-linkedin:hover { background-color: #3DA2D1; }
.contact-github:hover { background-color: #4F4F4F; }
.contact-freecodecamp:hover { background-color: #00AD08; }
.contact-email:hover { background-color: #8F8F8F; }

.white-contact-detail {
  color: #FFF;
}

.contact-panels p {
  font-size: 1.5em;
}

.scale-up-icon {
  -ms-transform: scale(1.7); /* IE 9 */
  -webkit-transform: scale(1.7); /* Safari */
  transform: scale(1.7); /* Standard syntax */
}

.right-margin {
  margin-right: 0.7em;
}

.section-title {
  font-size: 3em;
}

.education-panel {
  display: inline-block;
  vertical-align: top;
  margin: 15px;
  margin-top: 35px;
  padding: 5px 20px 20px 20px;
  /*border: 2px solid black;*/
  /*border-radius: 7%;*/
  /*background-color: #3CF;*/
}

h3.education-title {
  font-size: 2.5em;
  margin-bottom: 25px;
}

h5.education-title {
  font-weight: bold;
  font-size: 1.7em;
  margin-top: 15px;
}

.education-section {
  line-height: 300px;
  margin-top: 25px;
}

#about {
  padding-top: 50px;
}